body{
    font-family: 'Goblin One', cursive;
    margin: 0px;
}
.purple-color{
    color: purple;
}
.half-width{
width: 50%;
padding-left: 40px;
padding-top: 40px;

}
 .flaxible-container{ 
display: flex;

}
.top-banner{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
 .half-width img{  /*half -width er vitor je image ace tar size thik kora hoyeche1*/
width: 80%;
margin: 50px;
}
.link-button{
    text-decoration: none;
   /*  background-color: indianred;*/ 
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(red, orange) ;
}
.midle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right; 
    margin-top: 50px;
}
.experienc{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;

}
h1{
   padding-left: 80px; 
}
.inline-box{
    width: 40%;
    margin: 5%;
    box-shadow: 25px 25px 40px green;
    padding: 30px;
   
}
#blue{
    border-left: 10px solid;  
   border-image: linear-gradient(rgb(0, 255, 0), rgb(228, 235, 135)); 
   border-image-slice: 4;
}
#orange-id{
    border-left: 10px solid;
    border-image: linear-gradient(blue, skyblue);
    border-image-slice: 1;
}
footer p{
   text-align: center; 
   font-style: italic;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
}